
/* Color variables for easy changes */
:root {
  --red-color: #BF0628;
  --blue-color: #173386;
  --pink-color: #FBEEE9;
  --hyperlink-color: #0000EE;
  --max-width: 1100px;
}

/* Navnbar Logo */
.logo {
  width: 250px;
}

/* Wood Background */
#wood{
    font-family: 'Roboto', sans-serif;

    background: url(/assets/images/wood-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

/* White Container Background */
#background{
  background: #fff;
  padding-bottom: 1.5rem;
}

/* Notice  */
.notice {
  padding-top: 1.5rem;
  padding-bottom: 1rem
}
.notice h1{
  color: var(--red-color);
}

/* Remove Card Borders */
.card{
  border: none;
}

/* Top card - left side */
.red-price{
  color: var(--red-color);
}

#card-header{
  background: var(--red-color);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  border: transparent;
}

#card-header h5{
  padding-top: 5px;
  font-size: 2.8rem;
  font-weight: 700;
}

#card-header p{
  font-size: 28px;
  padding-bottom: 5px;
}
#bottle-card {
  border-radius: 0;
}

.bottle-price{
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  margin: 0px;
}
.bottle-price p{
  margin-bottom: 0;
}
.bottle-price .shipping{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px; 
}

.button {
  padding: 0 1rem;
}


/* Warranty */

#money-back {
  width: 140px;
  /* margin-top: .4rem; */
  /* margin-left: 1rem; */
}


.sixty-day{
  color: var(--blue-color);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0;
  /* margin-top: .5rem; */
}
.money-back{
  font-size: 14px;
}

#red-bottom{
  border-bottom: 3px solid var(--red-color);
  border-radius: 0;
}
#red-bottom .card-header{
background: transparent;
border: transparent;
}


/* Right Side Special Deal */
.special-deal .card-body{
  background: var(--pink-color);
  border-top: 3px solid var(--red-color);
  border-bottom: 3px solid var(--red-color);

}
#special-promo{
  text-align: center;
  border-radius: 0;
  
}

#special-promo h5{
  font-size: 1.8rem;
  color: var(--blue-color)
}
#special-promo p{
  font-size: 1.4rem;
  font-weight: 500;
}
#special-promo span{
  color: var(--red-color)
}
#special-promo .card-text {
  font-size: 1rem;
  font-weight: normal;
}
#special-promo .detail {
  font-size: 1rem;
}

.stock-up p{
  margin-bottom: 0;
}

.savings{
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 700;
  margin-bottom: 0;
}


/* Message to Customer */
.benefits{
  margin-bottom: .5rem;
}
#list { display: block; list-style-type: decimal !important; list-style-position: inside;padding:10px;
padding-top: 0;
padding-left: 1.2rem; 
}

#text-info{
  padding:0;
  padding-top: 1.5rem;
}

/* card-images */
#card-friend,
#card-bottles,
#card-button,
#card-seal{
  border: none;
  background: transparent;
}

/* Button Hover */
#button:hover{
  cursor: pointer;
}

/* Hyperlink Text */
a{
  color: var(--hyperlink-color);
  text-decoration: underline !important;
}

